<div id="loader">
  <div class="loader-content">

    <div class="network">

      <div class="node iot inactive">IoT</div>
      <div class="node edge inactive">Edge</div>
      <div class="node cloud inactive">Cloud</div>

      <div class="connection conn1"></div>
      <div class="connection conn2"></div>

      <div class="packet packet1"></div>
      <div class="packet packet2"></div>

    </div>

    <div class="status-text" id="status-text">
      Booting IoT Devices...
    </div>

    <div class="percentage">
      <span id="load-percent">0</span>%
    </div>

  </div>
</div>
