<header class="top">
  <div class="container nav-container">
    <h2 class="site-title">Aakashjit Bhattacharya</h2>

    <div class="menu-toggle" id="menu-toggle">
    <span></span>
    <span></span>
    <span></span>
    </div>

    <nav id="nav-menu">  
      <a href="index.html">Home</a>
      <a href="publications.html">Publications</a>
      <a href="experience.html">Experience</a>
      <a href="committee.html">Committee</a>
      <a href="teaching.html">Teaching</a>
      <a href="volunteering.html">Volunteering</a>
    </nav>
  </div>
</header>

<div class="overlay" id="overlay"></div>
